<!DOCTYPE html>

{% extends 'base.html' %}

{% block app_content %}

<div>

    <h1>About Me</h1>

    <p>
        <br>
        Hi! I'm Travis, a Ph.D. graduand from the Electrical and Computer Engineering department at the University of Massachusetts 
        Lowell. My research focuses on machine learning and artificial intelligence, and applications include developing multivariate 
        regression models to predict key combustion properties of potentially cleaner and more efficient liquid fuels.
        <br><br>
        In addition to having experience with machine learning models such as neural networks, I have significant interest in 
        optimization algorithms such as artificial bee colonies and other genetically inspired algorithms for use in a variety of 
        applications across STEM.
        <br><br>
        <a href="{{ url_for('static', filename='files/kessler_travis_cv.pdf') }}" target="_blank">View my curriculum vitae</a>
    </p>

</div>

{% endblock %}