<!DOCTYPE html>

{% extends 'base.html' %}

{% block app_content %}

<div>

    <h1>Personal Projects</h1>
    <br>
    <ul>
        <li>
            <a href="https://www.uml.edu/engineering/research/engineering-solutions/student-research.aspx">
                Project Starfish - A Smart, Cost-Effective and Non-Invasive Prosthetic Hand
            </a>
        </li>
        <br>
        <li>
            <a href="https://github.com/tjkessler/ApisOptimizer">
                Artificial bee colony software package written in Python
            </a>
        </li>
        <br>
        <li>
            <a href="https://github.com/tjkessler/PyGenetics">
                Genetic algorithm software package written in Python
            </a>
        </li>
    </ul>

</div>

{% endblock %}