<!DOCTYPE html>

{% extends 'base.html' %}

{% block app_content %}

<div>

    <h1>Published Works</h1>

    <p>
        <ul>
            <br>
            <li>
                Travis Kessler, Thomas Schwartz, Hsi-Wu Wong, John Hunter Mack. “Screening Compounds for Fast Pyrolysis and Catalytic 
                Biofuel Upgrading Using Artificial Neural Networks”. ASME Internal Combustion Engine Division Fall Technical 
                Conference (2019). <a href="https://doi.org/10.1115/ICEF2019-7170">https://doi.org/10.1115/ICEF2019-7170</a>
            </li>
            <li>
                Sanskriti Sharma, Hernan Gelaf-Romer, Travis Kessler, John Hunter Mack. “ECabc: A feature tuning program
                focused on Artificial Neural Network hyperparameters”. Journal of Open Source Software (2019).
                <a href="https://doi.org/10.21105/joss.01420">https://doi.org/10.21105/joss.01420</a>
            </li>
            <br>
            <li>
                Travis Kessler, Eric Sacia, Alexis Bell, John Hunter Mack. “Artificial neural network based predictions of cetane
                number for furanic biofuel additives”. Fuel, 206, 171-179 (2017). <a href="https://doi.org/10.1016/j.fuel.2017.06.015">
                https://doi.org/10.1016/j.fuel.2017.06.015</a>
            </li>
            <br>
            <li>
                Travis Kessler, Gregory Dorian, John Hunter Mack. “Application of a Rectified Linear Unit (ReLU) Based
                Artificial Neural Network to Cetane Number Predictions”. ASME Internal Combustion Engine Division Fall
                Technical Conference (2017). <a href="https://doi.org/10.1115/icef2017-3614">https://doi.org/10.1115/icef2017-3614</a>
            </li>
            <br>
            <li>
                Travis Kessler, John Hunter Mack. “ECNet: Large scale machine learning projects for fuel property prediction”.
                Journal of Open Source Software (2017). <a href="https://doi.org/10.21105/joss.00401">https://doi.org/10.21105/joss.00401</a>
            </li>
            <br>
            <li>
                Travis Kessler, Eric Sacia, Alexis Bell, John Hunter Mack. “Predicting the Cetane Number of Furanic Biofuel
                Candidates Using an Improved Artificial Neural Network Based on Molecular Structure”. ASME Internal
                Combustion Engine Division Fall Technical Conference (2016). <a href="https://doi.org/10.1115/icef2016-9383">
                https://doi.org/10.1115/icef2016-9383</a>
            </li>
        </ul>
    </p>

</div>

{% endblock %}