<!DOCTYPE html>

{% extends 'base.html' %}

{% block app_content %}

<div>

    <h1>Published Works</h1>

    <p>
        <ul>
            <br>
            <li>
                Travis Kessler, Thomas Schwartz, Hsi-Wu Wong, John Hunter Mack. “Evaluating Diesel/Biofuel Blends Using Artificial 
                Neural Networks and Linear/Nonlinear Equations”. 
                ASME Internal Combustion Engine Division Fall Technical Conference (2021). 
                <a href="https://doi.org/10.1115/ICEF2021-67785">https://doi.org/10.1115/ICEF2021-67785</a>
            </li>
            <br>
            <li>
                Travis Kessler, Thomas Schwartz, Hsi-Wu Wong, John Hunter Mack. “Predicting the Cetane Number, Yield Sooting Index,
                Kinematic Viscosity, and Cloud Point for Catalytically Upgraded Pyrolysis Oil Using Artificial Neural Networks”. 
                ASME Internal Combustion Engine Division Fall Technical Conference (2020). 
                <a href="https://doi.org/10.1115/ICEF2020-2978">https://doi.org/10.1115/ICEF2020-2978</a>
            </li>
            <br>
            <li>
                Travis Kessler, Peter C. St. John, Junqing Zhu, Charles S. McEnally, Lisa D. Pfefferle, J. Hunter Mack. “A comparison 
                of computational models for predicting yield sooting index”. Proceedings of the Combustion Institute (2020). 
                <a href="https://doi.org/10.1016/j.proci.2020.07.009">https://doi.org/10.1016/j.proci.2020.07.009</a>
            </li>
            <br>
            <li>
                Travis Kessler, Thomas Schwartz, Hsi-Wu Wong, John Hunter Mack. “Screening Compounds for Fast Pyrolysis and Catalytic 
                Biofuel Upgrading Using Artificial Neural Networks”. ASME Internal Combustion Engine Division Fall Technical 
                Conference (2019). <a href="https://doi.org/10.1115/ICEF2019-7170">https://doi.org/10.1115/ICEF2019-7170</a>
            </li>
            <br>
            <li>
                Sanskriti Sharma, Hernan Gelaf-Romer, Travis Kessler, John Hunter Mack. “ECabc: A feature tuning program
                focused on Artificial Neural Network hyperparameters”. Journal of Open Source Software (2019).
                <a href="https://doi.org/10.21105/joss.01420">https://doi.org/10.21105/joss.01420</a>
            </li>
            <br>
            <li>
                Travis Kessler, Eric Sacia, Alexis Bell, John Hunter Mack. “Artificial neural network based predictions of cetane
                number for furanic biofuel additives”. Fuel, 206, 171-179 (2017). <a href="https://doi.org/10.1016/j.fuel.2017.06.015">
                https://doi.org/10.1016/j.fuel.2017.06.015</a>
            </li>
            <br>
            <li>
                Travis Kessler, Gregory Dorian, John Hunter Mack. “Application of a Rectified Linear Unit (ReLU) Based
                Artificial Neural Network to Cetane Number Predictions”. ASME Internal Combustion Engine Division Fall
                Technical Conference (2017). <a href="https://doi.org/10.1115/icef2017-3614">https://doi.org/10.1115/icef2017-3614</a>
            </li>
            <br>
            <li>
                Travis Kessler, John Hunter Mack. “ECNet: Large scale machine learning projects for fuel property prediction”.
                Journal of Open Source Software (2017). <a href="https://doi.org/10.21105/joss.00401">https://doi.org/10.21105/joss.00401</a>
            </li>
            <br>
            <li>
                Travis Kessler, Eric Sacia, Alexis Bell, John Hunter Mack. “Predicting the Cetane Number of Furanic Biofuel
                Candidates Using an Improved Artificial Neural Network Based on Molecular Structure”. ASME Internal
                Combustion Engine Division Fall Technical Conference (2016). <a href="https://doi.org/10.1115/icef2016-9383">
                https://doi.org/10.1115/icef2016-9383</a>
            </li>
            <br>
        </ul>
    </p>

    <h1>Presentations</h1>

    <p>
        <ul>
            <br>
            <li>
                Travis Kessler, Amina SubLaban, J. Hunter Mack. “Predicting Research and Motor Octane Number using a Single 
                Artificial Neural Network”. American Chemical Society Fall Conference (2021).
            </li>
            <br>
            <li>
                Travis Kessler, Corey Hudson, Leanne Whitmore, J. Hunter Mack. “Prediction of Research/Motor Octane Number and 
                Octane Sensitivity Using Artificial Neural Networks”. Eastern States Section of the Combustion Institute 
                Spring Technical Meeting (2020).
            </li>
            <br>
            <li>
                J. Hunter Mack, Travis Kessler. “A Computational Approach to Screening Alternative Fuel Candidates”. New 
                England Energy Research Forum (2019).
            </li>
            <br>
            <li>
                Travis Kessler, J. Hunter Mack. “Predicting Biofuel Properties with an Artificial Neural Network”. UMass Lowell 
                Student Research and Engagement Symposium (2016).
            </li>
            <br>
        </ul>
    </p>

</div>

{% endblock %}